{{> header}}
<div id="content">
  <div id="details">
  {{author}}
  {{link}}
  <div class="imgs" style="background-image: url({{link}}); height: 400px; width: 500px;"></div>
  {{description}}
  </div>
  <div id="preview">
    {{!-- image preview gallery (3)--}}
  </div>
</div>


{{!-- <div>
  <form action="/gallery/{{id}}?_method=DELETE" method="POST">
    <input type="submit" value = "Delete Photo">
  </form>

</div> --}}