{{> back}}
{{> header}}
<div id="detailContent">
  <div id="details">
    <div id="previewImg" style="background-image: url({{mainPhoto.link}});">
    </div>
    <div class="author">
      Posted by {{mainPhoto.author}} at {{mainPhoto.createdAt}}
    </div>
    <div id="originalLink">
      <a href ="{{mainPhoto.link}}">See Original</a>
    </div>
    <br>
    {{mainPhoto.description}}
    <br>
    <br>
    <a href="/gallery/{{mainPhoto.id}}/edit">EDIT photo</a>
  </div>

  <div id="preview">
    {{#each photos}}
      <div class="thumbnail">
        <a href ="/gallery/{{id}}"><div class="thumbnail_img" style="background-image: url({{link}}); height: 200px; width: 300px;"></div></a>
        <br>
        <div class="author">{{author}}</div>
      </div>
      <br>
    {{/each}}
  </div>
</div>
