{{> back}}
{{> header}}
<div id="detailContent">
  <div id="details">
    <div class="author">{{mainPhoto.author}}</div>
   {{!--  {{mainPhoto.link}} --}}
    <div class="previewImg" style="background-image: url({{mainPhoto.link}}); height: 450px; width: 700px;">
    </div>
    {{mainPhoto.description}}
    <br>
    <br>
    <a href="/gallery/{{mainPhoto.id}}/edit">EDIT photo</a>
  </div>

  <div id="preview">
    {{#each photos}}
      <div class="thumbnail">
        <a href ="/gallery/{{id}}"><div class="thumbnail_img" style="background-image: url({{link}}); height: 200px; width: 300px;"></div></a>
        <br>
        <div class="author">{{author}}</div>
       {{!--  <div class="link">{{link}}</div> --}}
      </div>
      <br>
    {{/each}}
  </div>
</div>
