doctype html
doctype html
head
  link(rel="stylesheet", type="text/css", href="/css/style.css")
  meta(charset="UTF-8")
  title Express Gallery
body
  #header
  #content
    #single.clearfix
      .row
        .large-12.columns
          img(src=image.url)
        .large-12.columns
          p= image.description

    #triple.clearfix
      .row
        for image in sidebarimages
          .large-12.columns
            img(src=image.imageURL)
              p= image.description
          .large-12.columns
            img(src=image.imageURL)
              p= image.description
          .large-12.columns
            img(src=image.imageURL)
              p=image.description
  #footer
  script(src='/js/jquery.js')
  script(src='/js/client.js')